<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listners.CustomListeners"></listener>
    </listeners>
    <test name="C:/Users/HP/eclipse-workspace/TestNGProject/src/main/java/Listners/ListnersTests.java">
        <classes>
            <class name="Listners.ListenersTests"></class>
        </classes>
    </test>
</suite>